.gameBoard {
  grid-area: gameBoard;
  height: 90vw;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.boardGridItem {
  background: white;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  margin: auto;
}

.boardGridItem:hover {
  animation-name: pulseify;
  animation-delay: 0s;
  animation-duration: .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulseify {
  from { width: 80%; height: 80% }
  to { width: 90%; height: 90% }
}
