.currentPlayer {
  grid-area: currentPlayer;
  background-color: lightsteelblue;
  text-align: center;
  margin: 0 auto;
}

.playerScores {
  grid-area: playerScores;
  background-color: lightsteelblue;
  margin: 0 auto;
}

.playerScores > h6 {
  margin: 0;
}

.playerScores > ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

ul > li {
  flex-basis: 50%;
}

.player1 {
  grid-area: player1;
  background-color: lightsteelblue;
  box-sizing: border-box;
}

.player2 {
  grid-area: player2;
  background-color: rgb(153, 176, 206);
  box-sizing: border-box;
}

.playerStats {
  background-color: lightcoral;
  display: grid;
  grid-area: playerStats;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90%;
  align-content: space-around;
  grid-template-areas: 
    "currentPlayer playerScores";
}
